.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  width: calc(100% - 1rem);
  max-width: 800px;
  height: 400px;
  /* background-color: lightcoral; */
  background-color: var(--color-surface-elevated-base);
}

.left {
  width: 50%;
  height: inherit;
  background-image: url('/images/House-login.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  width: 50%;
  height: inherit;
  padding: 2rem;
}

.title {
  color: var(--color-text-primary);
}
