.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 1rem);
  max-width: 800px;
  height: 500px;
  /* background-color: lightcoral; */
  background-color: var(--color-surface-elevated-base);
}

.left {
  width: 100%;
  height: 50%;
  background-image: url('/images/House-login.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.right {
  width: 50%;
  height: inherit;
  padding: 2rem;
}

.title {
  color: var(--color-text-primary);
}

@media (min-width: 575px) {
  .wrapper {
    flex-direction: row;
    height: 400px;
  }

  .left {
    width: 50%;
    height: inherit;
    background-position: center;
  }
}
