.inner {
  position: sticky;
  top: 54px;
  align-self: flex-start;
}

.horizontal,
.vertical {
  position: fixed;
  background-color: var(--color-surface);
  z-index: var(--z-drawer);
}

.horizontal {
  width: 100%;
}

.vertical {
  width: min(250px, 100%);
  min-height: inherit;
  height: 100vh;
  flex-shrink: 0;
}

/* --- Directions --- */

.top {
  top: 0;
  left: 0;
  height: 200px;
  transform: translateY(-100%);
  transition: 300ms ease;
}

.bottom {
  bottom: 0;
  left: 0;
  height: 200px;
  transform: translateY(100%);
  transition: 300ms ease;
}

.left {
  top: 0;
  left: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: 300ms ease;
}

.right {
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: 300ms ease;
}

/* --- Status Open --- */

.open.left {
  transform: translateX(0%);
}

.open.right {
  transform: translateX(0%);
}

.open.top {
  transform: translateY(0%);
}

.open.bottom {
  transform: translateY(0%);
}

/* --- Variants --- */

@media (min-width: 575px) {
  .horizontal.top.push,
  .vertical.left.push,
  .vertical.left.pinned,
  .vertical.right.pinned,
  .horizontal.top.pinned,
  .vertical.right.push {
    right: unset;
    bottom: unset;
    transform: unset;

    position: sticky;
    /* top: 0px; */
  }

  .horizontal.bottom.push,
  .horizontal.bottom.pinned {
    right: unset;
    top: unset;
    transform: unset;

    position: sticky;
    bottom: 0;
    align-self: flex-end;
  }

  /* --- Pinned --- */

  .horizontal.top.pinned,
  .horizontal.bottom.pinned {
    max-height: 100px;
  }

  .vertical.right.pinned,
  .vertical.left.pinned {
    width: 250px;
  }

  /* --- Push --- */

  .horizontal.top.push,
  .horizontal.bottom.push {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .horizontal.top.push.open,
  .horizontal.bottom.push.open {
    max-height: 100px;
  }

  .vertical.right.push {
    width: 2rem;
  }

  .vertical.right.push.open {
    width: 250px;
  }

  .vertical.left.push {
    width: 2rem;
  }

  .vertical.left.push.open {
    width: 250px;
  }
}
