.chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  background-color: var(--color-surface-10);
  border: 1px solid var(--color-surface-10);
  color: var(--color-text-primary);
  font-size: 10px;
  transition: 0.3s linear;
}

.clickable {
  cursor: pointer;
}

.chip:hover {
  background-color: var(--color-surface-20);
  border: 1px solid var(--color-surface-20);
}

.label {
  display: contents;
}

.iconStart {
  display: inherit;
}

.image {
  display: block;
  width: 1em;
  height: 1em;
  aspect-ratio: 1 / 1;
}

.delete {
  display: flex;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: inherit;
  font-size: 1em;
}

.delete svg {
  color: inherit;
}

/* Variants */

.contained {
  background-color: var(--color-surface-10);
  color: var(--color-text-primary);
}

.outlined {
  background-color: transparent;
  border: 1px solid var(--color-surface-30);
  color: var(--color-text-primary);
}

/* --- Colors --- */

.primary {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-700);
  color: var(--color-text-white);
  --color-focus: var(--color-focus-primary);
  --color-text: var(--color-primary-700);
}

.secondary {
  background-color: var(--color-secondary-400);
  border-color: var(--color-secondary-400);
  color: var(--color-text-white);
  --color-focus: var(--color-focus-secondary);
  --color-text: var(--color-secondary-400);
}

.success {
  background-color: var(--color-success-400);
  border-color: var(--color-success-400);
  color: var(--color-text-white);
  --color-focus: var(--color-focus-success);
  --color-text: var(--color-success-400);
}

.negative {
  background-color: var(--color-negative-500);
  border-color: var(--color-negative-500);
  color: var(--color-text-white);
  --color-focus: var(--color-focus-negative);
  --color-text: var(--color-negative-500);
}

.warning {
  background-color: var(--color-warning-900);
  border-color: var(--color-warning-900);
  color: var(--color-text-white);
  --color-focus: var(--color-focus-warning);
  --color-text: var(--color-warning-900);
}

/* --- Hover color --- */

.primary:hover {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.secondary:hover {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

.success:hover {
  background-color: var(--color-success-500);
  border-color: var(--color-success-500);
}

.negative:hover {
  background-color: var(--color-negative-600);
  border-color: var(--color-negative-600);
}

.warning:hover {
  background-color: var(--color-warning-1000);
  border-color: var(--color-warning-1000);
}

.outlined {
  background-color: initial;
  color: var(--color-text);
}

.outlined:hover {
  background-color: initial;
}

/* Focus */

.delete:focus-visible {
  outline: none;
  box-shadow: none;
  color: var(--color-focus-white);
}

.outlined .delete:focus-visible {
  color: var(--color-focus);
}

.primary:focus-visible,
.secondary:focus-visible,
.success:focus-visible,
.negative:focus-visible,
.warning:focus-visible {
  border-color: var(--color-focus);
  outline: 1px solid var(--color-focus);
  transition: none;
}

/* Radius */

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 8px;
}

.radius-xl {
  border-radius: 100vh;
}

/* Sizes */

.size-xs {
  padding: 4px 8px;
  font-size: 12px;
}

.size-sm {
  padding: 6px 12px;
  font-size: 12px;
}

.size-md {
  padding: 8px 12px;
  font-size: 14px;
}

.size-lg {
  padding: 10px 16px;
  font-size: 16px;
}

.size-sm.chip,
.size-md.chip,
.size-lg.chip {
  gap: 12px;
}
