.label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--color-text-primary);
  font-size: 14px;
  margin-right: 0.5rem;
  overflow: hidden;
}

.label input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-surface-30);
  background-color: transparent;
  width: 1rem;
  height: 1rem;
  transition: background-color 300ms ease-in-out;
}

.checkbox svg {
  width: 1rem;
  height: 1rem;
  fill: none;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 22px;
  stroke-dashoffset: 22px;
  transform: translateX(1px);
  transition: stroke-dashoffset 300ms ease-in-out;
}

.label input:checked + .checkbox {
  background-color: var(--color-primary-700);
  border-color: var(--color-primary-700);
}

.label input:checked + .checkbox svg {
  stroke-dashoffset: 0;
}

.label input:checked + .checkbox.unfilled {
  background-color: transparent;
}

.label input:checked + .checkbox.unfilled svg {
  stroke: var(--color-primary-700);
}

/* Focus */
.label input:focus-visible + .checkbox {
  /* outline: none; */
  outline: 2px solid var(--color-focus, var(--color-primary-500, #2095f3));
  outline-offset: 1px;
  /* box-shadow: 0 0 0 0.1rem var(--color-focus, var(--color-primary-500, #2095f3)); */
  border-color: var(--cb-color, var(--color-primary-500, #2095f3));
}

.label:hover .checkbox {
  border-color: var(--color-surface-30);
}

.checkbox.size-xs {
  width: 14px;
  height: 14px;
  font-size: 14px;
}

.checkbox.size-sm {
  width: 15px;
  height: 15px;
  font-size: 15px;
}

.checkbox.size-md {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
}

.checkbox.size-lg {
  width: 18px;
  height: 18px;
  font-size: 1rem;
}

.label.size-xs {
  font-size: 14px;
}

.label.size-sm {
  font-size: 15px;
}

.label.size-md {
  font-size: 1rem;
}

.label.size-lg {
  font-size: 1rem;
}

.checkbox.primary {
  --cb-color: var(--color-primary-700);
  --color-focus: var(--color-focus-primary);
}
.checkbox.secondary {
  --cb-color: var(--color-secondary-400);
  --color-focus: var(--color-focus-secondary);
}
.checkbox.success {
  --cb-color: var(--color-success-400);
  --color-focus: var(--color-focus-success);
}
.checkbox.negative {
  --cb-color: var(--color-negative-500);
  --color-focus: var(--color-focus-negative);
}
.checkbox.warning {
  --cb-color: var(--color-warning-900);
  --color-focus: var(--color-focus-warning);
}

.label input:checked + .checkbox.primary,
.label input:checked + .checkbox.secondary,
.label input:checked + .checkbox.success,
.label input:checked + .checkbox.negative,
.label input:checked + .checkbox.warning {
  background-color: var(--cb-color);
  border-color: var(--cb-color);
}

.label input:checked + .checkbox.unfilled.primary,
.label input:checked + .checkbox.unfilled.secondary,
.label input:checked + .checkbox.unfilled.success,
.label input:checked + .checkbox.unfilled.negative,
.label input:checked + .checkbox.unfilled.warning {
  background-color: transparent;
  border-color: var(--cb-color);
}

.label input:checked + .checkbox.unfilled.primary svg,
.label input:checked + .checkbox.unfilled.secondary svg,
.label input:checked + .checkbox.unfilled.success svg,
.label input:checked + .checkbox.unfilled.negative svg,
.label input:checked + .checkbox.unfilled.warning svg {
  stroke: var(--cb-color);
}

.label input:disabled + .checkbox {
  border-color: var(--color-black-300);
  cursor: not-allowed;
}

.label input:checked:disabled + .checkbox {
  background-color: var(--color-black-300);
  border-color: var(--color-black-300);
}

.label input:checked:disabled + .checkbox.unfilled,
.label input:checked:disabled + .checkbox.unfilled svg {
  background-color: transparent;
  stroke: var(--color-black-300);
  border-color: var(--color-black-300);
}

.label.disabled,
.label.read-only {
  cursor: auto;
}

.label.read-only {
  pointer-events: none;
}
