.select-option {
  width: 100%;
  padding: 6px;
  list-style: none;
  will-change: background-color, opacity;
  font-size: 14px;
}

.select-option:last-child {
  border-bottom: initial;
}

.active {
  background-color: var(--color-surface-default-hover);
}

.select-option:focus {
  background-color: var(--color-surface-default-hover);
  outline: none;
}

.select-option:hover {
  background-color: var(--color-surface-default-hover);
}

.selectList {
  position: relative;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: clip;
}

.size-xs {
  font-size: 14px;
}

.size-sm {
  font-size: 14px;
}

.size-md {
  font-size: 15px;
}

.size-lg {
  font-size: 16px;
}
