.alert {
  display: flex;
  align-items: center;
  width: fit-content;
}

.fullWidth {
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  width: 2rem;
  background-color: transparent;
}

.message {
  width: fit-content;
  font-weight: 400;
}

/* --- Colors --- */

.info {
  background-color: var(--color-info-50);
  color: var(--color-info-800);
}

.secondary {
  background-color: var(--color-secondary-50);
  color: var(--color-secondary-600);
}

.success {
  background-color: var(--color-success-50);
  color: var(--color-success-900);
}

.negative {
  background-color: var(--color-negative-50);
  color: var(--color-negative-800);
}

.warning {
  background-color: var(--color-warning-100);
  color: var(--color-warning-1100);
}

/* --- Size --- */

.size-xs {
  padding: 6px 8px;
  font-size: 12px;
}

.size-sm {
  padding: 8px 10px;
  font-size: 14px;
}

.size-md {
  padding: 10px 12px;
  font-size: 14px;
}

.size-lg {
  padding: 12px 14px;
  font-size: 14px;
}

/* --- Border --- */

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 8px;
}

.radius-xl {
  border-radius: 100vh;
}

/* --- Size icon --- */

.icon.size-xs,
.icon.size-sm,
.icon.size-md,
.icon.size-lg {
  padding: 0;
  padding-right: inherit;
}

.icon.size-xs {
  font-size: 16px;
}

.icon.size-sm {
  font-size: 16px;
}

.icon.size-md {
  font-size: 18px;
}

.icon.size-lg {
  font-size: 18px;
}

/* --- Colors icon --- */

.icon.info {
  background-color: transparent;
  color: var(--color-info-400);
}

.icon.secondary {
  background-color: transparent;
  color: var(--color-secondary-400);
}

.icon.success {
  background-color: transparent;
  color: var(--color-success-400);
}

.icon.negative {
  background-color: transparent;
  color: var(--color-negative-400);
}

.icon.warning {
  background-color: transparent;
  color: var(--color-warning-700);
}

/* --- Variant contained --- */

.contained.info {
  background-color: var(--color-info-500);
  color: var(--color-text-white);
}

.contained.secondary {
  background-color: var(--color-secondary-500);
  color: var(--color-text-white);
}

.contained.success {
  background-color: var(--color-success-400);
  color: var(--color-text-white);
}

.contained.negative {
  background-color: var(--color-negative-500);
  color: var(--color-text-white);
}

.contained.warning {
  background-color: var(--color-warning-900);
  color: var(--color-text-white);
}

.contained.info .icon,
.contained.secondary .icon,
.contained.success .icon,
.contained.negative .icon,
.contained.warning .icon {
  color: var(--color-text-white);
}

/* --- Variant outlined --- */

.outlined.info {
  background-color: transparent;
  border: 1px solid var(--color-info-500);
  color: var(--color-info-800);
}

.outlined.secondary {
  background-color: transparent;
  border: 1px solid var(--color-secondary-500);
  color: var(--color-secondary-600);
}

.outlined.success {
  background-color: transparent;
  border: 1px solid var(--color-success-500);
  color: var(--color-success-900);
}

.outlined.negative {
  background-color: transparent;
  border: 1px solid var(--color-negative-400);
  color: var(--color-negative-800);
}

.outlined.warning {
  background-color: transparent;
  border: 1px solid var(--color-warning-900);
  color: var(--color-warning-1100);
}
