/* --- Colors --- */

.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border: 1px solid var(--color-primary-700);
  /* Set color focus for global */
  --color-focus: var(--color-focus-primary);
}

.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-secondary-400);
  --color-focus: var(--color-focus-secondary);
}

.success {
  background-color: var(--color-success-400);
  color: var(--color-text-white);
  border: 1px solid var(--color-success-400);
  --color-focus: var(--color-focus-success);
}

.negative {
  background-color: var(--color-negative-500);
  color: var(--color-text-white);
  border: 1px solid var(--color-negative-500);
  --color-focus: var(--color-focus-negative);
}

.warning {
  background-color: var(--color-warning-900);
  color: var(--color-text-white);
  border: 1px solid var(--color-warning-900);
  --color-focus: var(--color-focus-warning);
}

/* --- Hover color --- */

.primary:hover {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.secondary:hover {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

.success:hover {
  background-color: var(--color-success-500);
  border-color: var(--color-success-500);
}

.negative:hover {
  background-color: var(--color-negative-600);
  border-color: var(--color-negative-600);
}

.warning:hover {
  background-color: var(--color-warning-1000);
  border-color: var(--color-warning-1000);
}

/* Contrast colors */

.negative-contrast {
  background-color: var(--color-negative-700);
  border-color: var(--color-negative-700);
}

.primary-contrast {
  background-color: var(--color-primary-900);
  border-color: var(--color-primary-900);
}

.secondary-contrast {
  background-color: var(--color-secondary-600);
  border-color: var(--color-secondary-600);
}

.success-contrast {
  background-color: var(--color-success-600);
  border-color: var(--color-success-600);
}

.warning-contrast {
  background-color: var(--color-warning-1100);
  border-color: var(--color-warning-1100);
}

/* ---- */

/* --- variants --- */

.outlined.primary,
.outlined.secondary,
.outlined.success,
.outlined.negative,
.outlined.warning {
  background: initial;
  background-color: transparent;
}

.outlined.primary,
.text.primary {
  color: var(--color-primary-700);
}

.outlined.secondary,
.text.secondary {
  color: var(--color-secondary-700);
}

.outlined.success,
.text.success {
  color: var(--color-success-400);
}

.outlined.negative,
.text.negative {
  color: var(--color-negative-500);
}

.outlined.warning,
.text.warning {
  color: var(--color-warning-900);
}

/* --- Hover outline variant --- */

.outlined.primary:hover,
.text.primary:hover {
  background-color: var(--color-primary-50);
}

.outlined.secondary:hover,
.text.secondary:hover {
  background-color: var(--color-secondary-50);
}

.outlined.success:hover,
.text.success:hover {
  background-color: var(--color-success-50);
}

.outlined.negative:hover,
.text.negative:hover {
  background-color: var(--color-negative-50);
}

.outlined.warning:hover,
.text.warning:hover {
  background-color: var(--color-warning-50);
}

.text.primary,
.text.secondary,
.text.success,
.text.negative,
.text.warning {
  background: initial;
  background-color: transparent;
  border-color: transparent;
}

/* ----- */

/* sizes */

/* 28px; */
.size-xs {
  padding: 5px 12px;
  font-size: 14px;
}

/* 30px; */
.size-sm {
  padding: 6px 12px;
  font-size: 14px;
}

/* 32px */
.size-md {
  padding: 7px 12px;
  font-size: 14px;
}

/* 36px */
.size-lg {
  padding: 8px 16px;
  font-size: 16px;
}

/* full width */

a.fullWidth,
button.fullWidth {
  width: 100%;
}

/* ---- */

/* --- Disabled --- */

.button:disabled,
a.disabled {
  display: flex;
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
  cursor: not-allowed;
}

.button.outlined:disabled,
a.outlined.disabled {
  border-color: var(--color-disabled-100);
}

.button.outlined:disabled,
.button.outlined:disabled svg,
.button.text:disabled,
.button.text:disabled svg,
a.outlined.disabled,
a.outlined.disabled svg,
a.text.disabled,
a.text.disabled svg {
  color: var(--color-text-disabled);
}

a:focus-visible.disabled,
a:focus-visible.disabled svg {
  box-shadow: none;
}

/* --- Clear hover on disable --- */

.button.text:disabled:hover,
a.text.disabled:hover {
  border-color: transparent;
}

.button.outlined:disabled:hover,
.button.text:disabled:hover,
a.outlined.disabled:hover,
a.text.disabled:hover {
  background-color: transparent;
}

.button:disabled:hover,
a.disabled:hover {
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
}

/* ---- */

/* border */

.border-xs {
  border-width: 1px;
}

.border-sm {
  border-width: 2px;
}

.border-md {
  border-width: 3px;
}

.border-lg {
  border-width: 4px;
}

.border-xl {
  border-width: 5px;
}

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 8px;
}

.radius-xl {
  border-radius: 100vh;
}

/* ---- */

.button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s linear;
  cursor: pointer;
  width: fit-content;
  min-width: 64px;
  line-height: normal;
  user-select: none;
  text-decoration: none;
}

.label {
  display: contents;
}

.iconStart {
  display: inherit;
  width: 1.2em;
  min-width: 1.2em;
}

.iconCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconEnd {
  display: inherit;
  margin-right: -4px;
  margin-left: 4px;
  width: 1.2em;
  min-width: 1.2em;
}
