.card {
  position: relative;
  width: 100%;
  height: 100%;
  /* height: auto; */
  background-color: transparent;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  padding: 4px;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  color: white;
}

.title {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  color: white;
}

.card-column img,
.card-grid img {
  display: block;
  max-width: 100%;
  min-width: 0;
  height: 100%;
  object-fit: cover;
  aspect-ratio: auto 3/4;
}

.card-row img {
  max-width: initial;
  min-width: 100%;
  width: initial;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.25rem;
}
