.menu {
  list-style-type: none;
}

.menuItem {
  transition: 300ms linear;
  cursor: pointer;
}

.menuItem a {
  display: block;
  padding: 0.5rem;
}

.menuItem:hover {
  background-color: var(--color-primary-alpha-10);
}

.menu.size-xs .menuItem {
  --padding: 5px;
  font-size: 14px;
}

.menu.size-sm .menuItem {
  --padding: 6px;
  font-size: 14px;
}

.menu.size-md .menuItem {
  --padding: 7px;
  font-size: 15px;
}

.menu.size-lg .menuItem {
  --padding: 8px;
  font-size: 16px;
}

.menu.size-xs .menuItem a,
.menu.size-sm .menuItem a,
.menu.size-md .menuItem a,
.menu.size-lg .menuItem a {
  padding: var(--padding);
}
