.container {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.left {
  width: 100%;
  background-image: url('/images/House-register.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 3 / 2;
}

.right {
  width: 100%;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

@media (min-width: 575px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .wrapper {
    flex-direction: row;
    height: 500px;
    padding: 0 0.5rem;
  }

  .left {
    width: 50%;
    background-position: center;
    aspect-ratio: initial;
  }

  .right {
    width: 50%;
    padding: 0 2rem;
  }
}
