.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-surface-0);
  border-bottom: 1px solid var(--color-surface-30);
}

.header {
  width: 100%;
}

.header .container {
  max-height: 100%;
}

.container .image {
  object-fit: cover;
  aspect-ratio: 3 / 2;

  transition: transform 300ms linear;
  transform: scale(1);
}

.image:hover {
  transform: scale(1.01);
}

.content {
  width: 100%;
}

.title {
  padding: 1rem 1rem 0.5rem;
}

.location {
  padding: 0 1rem 0.5rem 0.85rem;
  font-size: 14px;
}

.price {
  padding: 0 1rem;
  letter-spacing: 0.5px;
  color: var(--color-primary-600);
}

.amenities {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0 1rem 0.5rem;
  font-size: 14px;
}
