/* --- Colors --- */

.primary {
  --color: var(--color-primary-700);
  background-color: var(--color);
  border: 1px solid var(--color);
}

.secondary {
  --color: var(--color-secondary-400);
  background-color: var(--color);
  border: 1px solid var(--color);
}

.success {
  --color: var(--color-success-400);
  background-color: var(--color);
  border: 1px solid var(--color);
}

.negative {
  --color: var(--color-negative-500);
  background-color: var(--color);
  border: 1px solid var(--color);
}

.warning {
  --color: var(--color-warning-900);
  background-color: var(--color);
  border: 1px solid var(--color);
}

.primary,
.secondary,
.success,
.negative,
.warning {
  color: var(--color-text-white);
}

/* --- Hover color --- */

.primary:hover {
  --color-hover: var(--color-primary-800);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

.secondary:hover {
  --color-hover: var(--color-secondary-500);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

.success:hover {
  --color-hover: var(--color-success-500);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

.negative:hover {
  --color-hover: var(--color-negative-600);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

.warning:hover {
  --color-hover: var(--color-warning-1000);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

/* Contrast colors */

.negative-contrast {
  background-color: var(--color-negative-700);
  border-color: var(--color-negative-700);
}

.primary-contrast {
  background-color: var(--color-primary-900);
  border-color: var(--color-primary-900);
}

.secondary-contrast {
  background-color: var(--color-secondary-600);
  border-color: var(--color-secondary-600);
}

.success-contrast {
  background-color: var(--color-success-600);
  border-color: var(--color-success-600);
}

.warning-contrast {
  background-color: var(--color-warning-1100);
  border-color: var(--color-warning-1100);
}

/* --- variants --- */

.outlined.primary,
.outlined.secondary,
.outlined.success,
.outlined.negative,
.outlined.warning {
  background: initial;
  background-color: transparent;
}

.outlined.primary,
.text.primary,
.outlined.success,
.text.success,
button.outlined.negative,
.text.negative,
.outlined.warning,
.text.warning {
  color: var(--color);
}

.outlined.secondary,
.text.secondary {
  color: var(--color-secondary-700);
}

/* --- Hover outline variant --- */

.outlined.primary:hover,
.text.primary:hover {
  background-color: var(--color-primary-alpha-10);
}

.outlined.secondary:hover,
.text.secondary:hover {
  background-color: var(--color-secondary-alpha-10);
}

.outlined.success:hover,
.text.success:hover {
  background-color: var(--color-success-alpha-10);
}

.outlined.negative:hover,
.text.negative:hover {
  background-color: var(--color-negative-alpha-10);
}

.outlined.warning:hover,
.text.warning:hover {
  background-color: var(--color-warning-alpha-10);
}

.text.primary,
.text.secondary,
.text.success,
.text.negative,
.text.warning {
  background: initial;
  background-color: transparent;
  border-color: transparent;
}

/* ---- */

/* --- Disabled --- */

.button:disabled,
a.disabled {
  display: flex;
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
  cursor: not-allowed;
}

.button.outlined:disabled,
a.outlined.disabled {
  border-color: var(--color-disabled-100);
}

.button.outlined:disabled,
.button.outlined:disabled,
.button.text:disabled,
.button.text:disabled,
a.outlined.disabled,
a.outlined.disabled,
a.text.disabled,
a.text.disabled {
  color: var(--color-text-disabled);
}

a:focus-visible.disabled {
  box-shadow: none;
}

/* --- Clear hover on disable --- */

.button.text:disabled:hover,
a.text.disabled:hover {
  border-color: transparent;
}

.button.outlined:disabled:hover,
.button.text:disabled:hover,
a.outlined.disabled:hover,
a.text.disabled:hover {
  background-color: transparent;
}

.button:disabled:hover,
a.disabled:hover {
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
}

/* border */

.border-xs {
  border-width: 1px;
}

.border-sm {
  border-width: 2px;
}

.border-md {
  border-width: 3px;
}

.border-lg {
  border-width: 4px;
}

.border-xl {
  border-width: 5px;
}

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 8px;
}

.radius-xl {
  border-radius: 100vh;
}

.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
  text-decoration: none;
}

.iconButton svg {
  color: inherit;
}

.iconCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 20px */
.size-xxs {
  min-width: 24px;
  padding: 4px;
  font-size: 14px;
}

/* 28px */
.size-xs {
  min-width: 28px;
  padding: 6px;
  font-size: 14px;
}

/* 30px */
.size-sm {
  min-width: 30px;
  padding: 6.5px;
  font-size: 15px;
}

/* 32px */
.size-md {
  min-width: 32px;
  padding: 7px;
  font-size: 16px;
}

/* 36px */
.size-lg {
  min-width: 36px;
  padding: 8px;
  font-size: 18px;
}

.fullWidth {
  width: 100%;
}

/* Variant minimal */

.iconButton.minimal {
  background-color: transparent;
  border: none;
  padding: initial;
  min-width: initial;
  color: var(--icon-color-default);
  transition: 300ms linear;
}

.iconButton.minimal:hover {
  color: var(--icon-color-hover);
}

.minimal.primary,
.minimal.secondary,
.minimal.success,
.minimal.negative,
.minimal.warning {
  color: var(--color);
}

.minimal.primary:hover,
.minimal.secondary:hover,
.minimal.success:hover,
.minimal.negative:hover,
.minimal.warning:hover {
  color: var(--color-hover);
}
