.header {
  width: 100%;
}

.header .container {
  max-height: 100%;
}

.container .image {
  object-fit: cover;
  aspect-ratio: 3 / 2;
  height: inherit;
  width: inherit;

  transition: transform 300ms linear;
  transform: scale(1);
}

.image:hover {
  transform: scale(1.01);
}
