.details {
  padding: 0.5rem;
  grid-area: details;
}

.detailsList {
  margin-bottom: 0.5rem;
}

.detailItem {
  grid-template-columns: 150px 1fr;
  align-items: center;
}

.detailsItemKey {
  text-transform: capitalize;
}

.detailsItemValue {
  text-transform: capitalize;
}

ul.amenitiesList {
  flex-direction: row;
  flex-wrap: wrap;
}

.amenityItem {
  grid-template-columns: 1rem 1fr;
  align-items: center;
  text-transform: capitalize;
}

.description {
  line-height: 1.4;
}

.amenityItem .air-conditioning {
  color: #add8e6;
}

.amenityItem .balcony {
  color: #32cd32;
}

.amenityItem .basement {
  color: #708090;
}

.amenityItem .elevator {
  color: #d3d3d3;
}

.amenityItem .garage {
  color: #696969;
}

.amenityItem .garden {
  color: #228b22;
}

.amenityItem .fireplace {
  color: #ff4500;
}

.amenityItem .furnished {
  color: #f5deb3;
}

.amenityItem .heating {
  color: #ff6347;
}

.amenityItem .internet {
  color: #1e90ff;
}

.amenityItem .parking {
  color: #a9a9a9;
}

.amenityItem .smart-home-features {
  color: #4169e1;
}

.amenityItem .security-system {
  color: #00008b;
}

.amenityItem .storage-room {
  color: #8b4513;
}

.amenityItem .swimming-pool {
  color: #20b2aa;
}

.amenityItem .wheelchair-accessible {
  color: #ffd700;
}
