.content {
  width: 100%;
  transition: 0.3s ease;
  overflow: hidden;
  color: var(--color-text-primary);
  font-size: 14px;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
}

.radioButton {
  display: block;
  margin: 0 0.5rem 0 0;
}

.header > label:first-child {
  width: 100%;
  color: var(--color-text-primary);
}

/* Colors */

.primary {
  --color: var(--color-primary-700);
}

.secondary {
  --color: var(--color-secondary-400);
}

.success {
  --color: var(--color-success-400);
}

.negative {
  --color: var(--color-negative-500);
}

.warning {
  --color: var(--color-warning-900);
}

/* Variants */

.header.text.primary,
.header.text.secondary,
.header.text.success,
.header.text.negative,
.header.text.warning {
  background-color: transparent;
  border: none;
  color: var(--color);
}

.header.outlined.primary,
.header.outlined.secondary,
.header.outlined.success,
.header.outlined.negative,
.header.outlined.warning {
  background-color: transparent;
  border: 1px solid var(--color);
  color: var(--color);
}

.header.outlined.primary > label:first-child,
.header.outlined.secondary > label:first-child,
.header.outlined.success > label:first-child,
.header.outlined.negative > label:first-child,
.header.outlined.warning > label:first-child {
  color: var(--color);
}

.header.contained.primary,
.header.contained.secondary,
.header.contained.success,
.header.contained.negative,
.header.contained.warning {
  border: 1px solid var(--color);
  background-color: var(--color);
  color: var(--color-text-white);
}

.header.contained.primary > label:first-child,
.header.contained.secondary > label:first-child,
.header.contained.success > label:first-child,
.header.contained.negative > label:first-child,
.header.contained.warning > label:first-child {
  color: var(--color-text-white);
}

/* Header padding checkbox label */

.header.p-initial > label {
  padding: var(--space-initial);
}

.header.p-xxs > label {
  padding: var(--space-xxs);
}

.header.p-xs > label {
  padding: var(--space-xs);
}

.header.p-sm > label {
  padding: var(--space-sm);
}

.header.p-md > label {
  padding: var(--space-md);
}

.header.p-lg > label {
  padding: var(--space-lg);
}

/* Hide icon checkbox */

.header div.hidden {
  display: none;
}

/* Size content */

.content.size-xs {
  font-size: 12px;
}

.content.size-sm {
  font-size: 14px;
}

.content.size-md {
  font-size: 1rem;
}

.content.size-lg {
  font-size: 1rem;
}
