.layerHero {
  background-color: var(--color-surface);
}

.layerMain {
  background-color: var(--color-surface);
  min-height: calc(100vh - 404px);
}

.containerLayout {
  width: calc(100% - 1rem) !important;
  min-height: inherit;
  padding-bottom: 0.5rem;
}
