.dashboard {
  min-height: calc(100vh - 104px);
  background-color: var(--color-surface-0);
}

.container {
  position: relative;
  display: flex;
  min-height: inherit;
  overflow: hidden;
  will-change: overflow;
}

.container.open {
  animation: unHide 300ms forwards 300ms;
}

.content {
  width: 100%;
  padding: 0.5rem;
}

@keyframes unHide {
  from {
    overflow: hidden;
  }

  to {
    overflow: initial;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  width: 100%;
  grid-template-areas:
    'total-adverts'
    'top-advert'
    'type-adverts'
    'messages-advert'
    'views-adverts'
    'status-adverts';
}

.cardHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  grid-area: card-header;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  padding: 0.5rem 1rem;
  grid-area: card-content;
}

.cardFooter {
  grid-area: card-footer;
  padding: 8px;
  border-top: 1px solid white;
}

.cardContentHorizontal {
  grid-area: card-content;
  display: flex;
  flex: 1;
  gap: 1rem;
  padding: 0.5rem 1rem;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
}

.subText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  /* width: 70px; */
}

.totalAdverts {
  grid-area: total-adverts;
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-areas:
    'card-content card-header'
    'card-footer card-footer';

  background: #f7971e;
  background: -webkit-linear-gradient(to right, #f7971e, #ffd200);
  background: linear-gradient(to right, #f7971e, #ffd200);
}

.typeAdverts {
  grid-area: type-adverts;
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-areas:
    'card-content card-header'
    'card-footer card-footer';

  background: #09d78f;
  background: -webkit-linear-gradient(to right, #09d78f, #0cec9e);
  background: linear-gradient(to right, #09d78f, #0cec9e);
}

.topAdvert {
  grid-area: top-advert;
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-areas:
    'card-content card-header'
    'card-footer card-footer';

  background: #ff6a7b;
  background: -webkit-linear-gradient(to right, #ff6a7b, #fe8795);
  background: linear-gradient(to right, #ff6a7b, #fe8795);
}

.messagesAdvert {
  grid-area: messages-advert;

  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-areas:
    'card-content card-header'
    'card-footer card-footer';

  background: #01b9bb;
  background: -webkit-linear-gradient(to right, #01b9bb, #01d6da);
  background: linear-gradient(to right, #01b9bb, #01d6da);
}

.statusAdverts {
  grid-area: status-adverts;
  padding: 1rem;
  background-color: white;
  box-shadow: inset#eee 0px 1px 1px 0px, inset #eee 0px 0px 0px 1px;
}

.viewsAdverts {
  grid-area: views-adverts;
  padding: 1rem 1rem 0;
  background-color: white;
  box-shadow: inset#eee 0px 1px 1px 0px, inset #eee 0px 0px 0px 1px;
}

.heading {
  color: var(--color-text-dark);
}

.viewsChart {
  width: 100%;
  height: 280px;
  max-width: calc(100vw - 3rem);
}

.statusChart {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 280px;
  max-width: calc(100vw - 3rem);
}

@media (min-width: 575px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 80px 351px;
    grid-template-areas:
      'total-adverts type-adverts top-advert messages-advert'
      'views-adverts views-adverts views-adverts status-adverts';
  }
}

@media (min-width: 1100px) {
  .content {
    padding: 0.5rem 0;
  }

  .content.open {
    margin-left: 0.5rem;
  }
}
