.chipBar {
  position: sticky;
  top: 103px;
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--color-surface);
  padding: 0 0 0.5rem;
  z-index: var(--z-adverts-layout);
}
