.layout {
  display: flex;
  min-height: inherit;
}

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-surface);
}

.drawer {
  height: 100vh;
}

@media (min-width: 575px) {
  .backdropFilters {
    display: none;
  }
}
