.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow-y: auto;
  overflow-x: clip;
  flex: 1 1 auto;
  padding: 0 0.5rem 0 0;
  max-height: calc(100vh - 6.5rem);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.group {
  position: sticky;
  top: 54px;
  display: flex;
  gap: 0.5rem;
  background-color: var(--color-surface-elevated-base);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.group button {
  width: calc(50% - 12px);
  padding: 0.25rem;
  cursor: pointer;
}
