.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-height: 46px;
  padding: 0.75rem 0.75rem;
  background-color: var(--color-primary-700);
}

.title {
  color: var(--color-text-white);
}

.title.neutral {
  color: var(--color-text-primary);
}

.buttonClose {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.iconClose {
  transition: 300ms linear;
}

.iconClose:hover {
  filter: brightness(0.9);
}

.negative {
  --color: var(--color-negative-500);
  background-color: var(--color);
}

.info {
  --color: var(--color-info-700);
  background-color: var(--color);
}

.neutral {
  --color: transparent;
  background-color: var(--color);
}

.primary {
  --color: var(--color-primary-700);
  background-color: var(--color);
}

.secondary {
  --color: var(--color-secondary-400);
  background-color: var(--color);
}

.success {
  --color: var(--color-success-400);
  background-color: var(--color);
}

.warning {
  --color: var(--color-warning-900);
  background-color: var(--color);
}

.outlined {
  background-color: transparent;
  border-bottom: 1px solid var(--color);
}

.outlined .title {
  background-color: transparent;
  color: var(--color);
}
