.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 100%;
  /* height: auto; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #e0e0e0;
}
