.sidebar {
  padding: 0.5rem;
  grid-area: sidebar;
}

.userList {
  margin-bottom: 1rem;
}

.lowerCased {
  grid-template-columns: 1rem 1fr;
  align-items: center;
}

.capitalized {
  grid-template-columns: 1rem 1fr;
  align-items: center;
  text-transform: capitalize;
}
