/* Button */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border: 1px solid var(--color-surface-30);
  min-width: 28px;
  padding: 5px 4px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s linear;
  text-decoration: none;
}

.info {
  display: flex;
  gap: 0.25rem;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  min-width: 140px !important;
  border: 1px solid var(--color-surface-30);
  background-color: transparent;
  font-size: 14px;
}

.info span {
  display: block;
}

/* --- Clear buttons border radius when none spacing --- */

.button:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* --- Active state --- */

.active:not(:disabled) {
  background-color: var(--color-black-400);
  color: var(--color-text-white);
}

/* --- When color set only --- */

.active.primary:not(:disabled) {
  background-color: var(--color-primary-800);
}

.active.secondary:not(:disabled) {
  background-color: var(--color-secondary-800);
}

.button:not(:disabled):not(.primary):not(.secondary):hover {
  background-color: var(--color-surface-10);
}

.button:not(:disabled):not(.primary):not(.secondary).active:hover {
  background-color: var(--color-surface-10);
}

/* --- Clear buttons when none spacing --- */

.button:disabled:not(.tight, .normal, .loose, .extra-loose, :last-child, .text),
.info:not(.tight, .normal, .loose, .extra-loose, :last-child, .text) {
  border-right: 0;
}

.button:not(:disabled)
  + .button:not(:disabled, .tight, .normal, .loose, .extra-loose, .text),
.button:not(:disabled)
  + button.button:disabled:not(.tight, .normal, .loose, .extra-loose, .text),
.button:not(:disabled, .tight, .normal, .loose, .extra-loose, .text) + .info {
  border-left: 0;
}

/* Colors */

/* --- Colors --- */

.outlined {
  background-color: transparent;
  color: var(--color-text-primary);
}

.text {
  background-color: transparent;
  border-color: transparent;
  color: var(--color-text-primary);
}

.contained.primary {
  background-color: var(--color-primary-700);
  color: var(--color-text-white);
  border-color: var(--color-primary-700);
}

.contained.secondary {
  background-color: var(--color-secondary-400);
  color: var(--color-text-white);
  border-color: var(--color-secondary-400);
}

.outlined.primary {
  border-color: var(--color-primary-700);
  color: var(--color-primary-700);
}

.outlined.secondary {
  border-color: var(--color-secondary-400);
  color: var(--color-secondary-700);
}

.text.primary {
  color: var(--color-primary-700);
}

.text.secondary {
  color: var(--color-secondary-700);
}

/* --- Hover or select color --- */

.contained:not(.info).primary:hover,
.contained:not(.info).primary.active {
  background-color: var(--color-primary-800);
  border-color: var(--color-primary-800);
}

.contained:not(.info).secondary:hover,
.contained:not(.info).secondary.active {
  background-color: var(--color-secondary-500);
  border-color: var(--color-secondary-500);
}

.outlined:not(.info).primary:hover,
.text:not(.info).primary:hover,
.outlined:not(.info).primary.active,
.text:not(.info).primary.active {
  background-color: var(--color-primary-50);
}

.outlined:not(.info).secondary:hover,
.text:not(.info).secondary:hover,
.outlined:not(.info).secondary.active,
.text:not(.info).secondary.active {
  background-color: var(--color-secondary-100);
}

.info.primary,
.info.secondary {
  color: var(--color-text-primary);
}

.info.contained.primary,
.info.contained.secondary {
  color: var(--color-text-white);
}

/* Sizes */

/* --- Size --- */

/* 24px */
.size-xxs {
  min-width: 24px;
  font-size: 14px;
  padding: 3px 4px;
}

/* 28px */
.size-xs {
  min-width: 28px;
  padding: 5px 4px;
  font-size: 14px;
}

/* 30px */
.size-sm {
  min-width: 30px;
  padding: 5.5px 4px;
  font-size: 15px;
}

/* 32px */
.size-md {
  min-width: 32px;
  padding: 6px 4px;
  font-size: 16px;
}

/* 36px */
.size-lg {
  min-width: 36px;
  padding: 8px 4px;
  font-size: 16px;
}

/* Border */

/* --- Border --- */

.border-xs {
  border-width: 1px;
}

.border-sm {
  border-width: 2px;
}

.border-md {
  border-width: 3px;
}

.border-lg {
  border-width: 4px;
}

.border-xl {
  border-width: 5px;
}

/* --- Border radius --- */

.radius-xs {
  border-radius: 2px;
}

.radius-sm {
  border-radius: 4px;
}

.radius-md {
  border-radius: 6px;
}

.radius-lg {
  border-radius: 8px;
}

.radius-xl {
  border-radius: 100vh;
}

/* Disabled */

.button:not(.outlined, .text):disabled {
  background-color: var(--color-disabled-100);
  cursor: not-allowed;
}

.button.outlined:disabled:hover,
.button.text:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.button:disabled.contained.primary,
.button:disabled.contained.secondary,
.active.contained.primary:disabled,
.active.contained.secondary:disabled {
  background-color: var(--color-disabled-100);
  border-color: var(--color-disabled-100);
}

.button.outlined:disabled,
.button.outlined:disabled svg,
.button.text:disabled,
.button.text:disabled svg {
  color: var(--color-text-disabled);
}
