.text {
  margin-right: 0.5rem;
}

.flag {
  display: inline-block;
  width: 30px;
  height: 20px;
  background-image: url('/sprite/spritesheet-flags.png');
  background-repeat: no-repeat;
  transform: scale(0.533, 0.6) translateY(1px);
  transform-origin: bottom left;
}
