.checkboxGroup {
  display: flex;
  width: fit-content;
}

.row {
  flex-direction: row;
  align-items: center;
}

.column {
  flex-direction: column;
}

.fullWidth {
  width: 100%;
}

.none {
  gap: initial;
}

.tight {
  gap: 0.25rem;
}

.normal {
  gap: 0.5rem;
}

.loose {
  gap: 0.75rem;
}

.extra-loose {
  gap: 1rem;
}
