* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  /* Colors */

  --color-primary-50: #f0fff0;
  --color-primary-100: #ccf3cc;
  --color-primary-200: #aae8aa;
  --color-primary-300: #8cdc8c;
  --color-primary-400: #70d172;
  --color-primary-500: #45b649;
  --color-primary-600: #28942f;
  --color-primary-700: #16711e;
  --color-primary-800: #0c4f13;
  --color-primary-900: #052d0a;
  --color-primary-1000: #010a02;

  --color-secondary-50: #f9f9f9;
  --color-secondary-100: #f3f3f3;
  --color-secondary-200: #eaeaea;
  --color-secondary-300: #dbdbdb;
  --color-secondary-400: #b7b7b7;
  --color-secondary-500: #979797;
  --color-secondary-600: #6f6f6f;
  --color-secondary-700: #5b5b5b;
  --color-secondary-800: #3d3d3d;
  --color-secondary-900: #1c1c1c;

  /* Color text */

  --color-text-primary: #555555;
  --color-text-secondary: #dddddd;
  --color-text-white: white;
  --color-text-dark: #555555;
  --color-text-disabled: #c0c0c0;

  /* Feedback */

  --color-negative-50: #ffebef;
  --color-negative-100: #ffced3;
  --color-negative-200: #f59b9b;
  --color-negative-300: #ed7374;
  --color-negative-400: #f95251;
  --color-negative-500: #ff4036;
  --color-negative-600: #f03535;
  --color-negative-700: #de2a2f;
  --color-negative-800: #d12228;
  --color-negative-900: #c2111b;

  --color-success-50: #e5f8e5;
  --color-success-100: #c1edbf;
  --color-success-200: #96e196;
  --color-success-300: #64d667;
  --color-success-400: #2ecc40;
  --color-success-500: #00c200;
  --color-success-600: #00b200;
  --color-success-700: #009f00;
  --color-success-800: #008e00;
  --color-success-900: #006e00;

  --color-warning-50: #fffee8;
  --color-warning-100: #fffac4;
  --color-warning-200: #fff69d;
  --color-warning-300: #fff174;
  --color-warning-400: #fded53;
  --color-warning-500: #fbe731;
  --color-warning-600: #ffde37;
  --color-warning-700: #ffc731;
  --color-warning-800: #ffaf29;
  --color-warning-900: #ff851b;
  --color-warning-1000: #e76b00;
  --color-warning-1100: #cf6000;

  --color-info-50: #e2f2fe;
  --color-info-100: #baddfd;
  --color-info-200: #8dc9fd;
  --color-info-300: #5db4fc;
  --color-info-400: #35a3fc;
  --color-info-500: #0094fb;
  --color-info-600: #0086ec;
  --color-info-700: #0074d9;
  --color-info-800: #0163c7;
  --color-info-900: #0044a8;

  --color-black-50: #f7f7f7;
  --color-black-100: #eeeeee;
  --color-black-200: #e3e3e3;
  --color-black-300: #d1d1d1;
  --color-black-400: #acacac;
  --color-black-500: #8b8b8b;
  --color-black-600: #646464;
  --color-black-700: #515151;
  --color-black-800: #333333;
  --color-black-900: #131313;

  --color-disabled-50: #efefef4d;
  --color-disabled-100: #e5e7eb;
  --color-disabled-200: #9ca3af;

  /* Focus */

  --color-focus-primary: var(--color-primary-500);
  --color-focus-secondary: var(--color-secondary-500);
  --color-focus-negative: var(--color-negative-700);
  --color-focus-success: var(--color-success-600);
  --color-focus-warning: var(--color-warning-1000);
  --color-focus-info: var(--color-info-500);

  --focus-offset: 1px;

  /* Hover */
  --color-surface-hover: var(--color-black-100);

  /* Backgrounds */
  --color-surface: #ffffff;
  --color-surface-0: #fcfcfc;
  --color-surface-10: #f0f0f0;
  --color-surface-20: #e1e1e1;
  --color-surface-30: #d3d3d3;
  --color-surface-40: #c5c5c5;
  --color-surface-50: #b6b6b6;
  --color-surface-elevated-0: transparent;
  --color-surface-elevated-1: #ffffff;
  --color-surface-elevated-2: #ffffff;

  /* Spacing */
  --space-initial: 'initial';
  --space-xxs: 2px;
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;

  /* Max width */

  --max-w-sm: 1000px;
  --max-w-md: 1100px;
  --max-w-lg: 1200px;
  --max-w-xl: 1300px;

  /* Z-index */
  --z-negative: -1;
  --z-base: 0;
  --z-default: 1;
  --z-adverts-layout: 2;
  --z-backdrop: 30;
  --z-drawer: 40;
  --z-header: 50;
  --z-popover: 100;
  --z-modal: 1000;
  --z-toast: 1100;

  /* Specific colors */

  /* Loader */
  --loader-track-color: #eeeeee;
  --loader-spin-color: var(--color-primary-700);

  /* Icon */
  --icon-color-default: #555555;
  --icon-color-muted: #bbbbbb;
  --icon-color-hover: #333333;
  --icon-color-active: #111111;
}

html[data-theme='dark'] {
  /* Backgrounds */
  --color-surface: #121212;
  --color-surface-0: #202020;
  --color-surface-10: #282828;
  --color-surface-20: #3f3f3f;
  --color-surface-30: #575757;
  --color-surface-40: #717171;
  --color-surface-50: #8b8b8b;
  --color-surface-elevated-0: var(--color-surface-10);
  --color-surface-elevated-1: var(--color-surface-0);
  --color-surface-elevated-2: var(--color-surface-10);

  /* Color text */

  --color-text-primary: #ffffff;
  --color-text-secondary: #dddddd;
  --color-text-white: white;
  --color-text-dark: #555555;
  --color-text-disabled: #c0c0c0;

  /* Hover */
  --color-surface-hover: var(--color-black-800);

  /* Icon */

  --icon-color-default: #ffffff;
  --icon-color-muted: #777777;
  --icon-color-hover: #cccccc;
  --icon-color-active: #dddddd;
}

body {
  background-color: var(--color-surface);
  min-height: 100vh;
  overflow-x: clip;
  overflow-y: auto;
  color: var(--color-text-primary);
  font-weight: 400;
  font-family: var(--font-roboto), sans-serif;
}

.no-scroll {
  overflow: hidden;
}

button:focus-visible,
a:focus-visible {
  transition: none;
  outline: none;
  box-shadow: 0 0 0 0.1rem var(--color-focus, var(--color-primary-500, #2095f3));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

a,
button,
input,
textarea {
  font-family: var(--font-roboto), sans-serif;
  font-weight: 400;
}

::-moz-scrollbar {
  scrollbar-color: #555555 #f1f1f1;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background-color: transparent;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  cursor: default;
  border: 1px solid transparent;
  border-radius: 100vh;
  background-clip: padding-box;
  background-color: var(--color-primary-700);
}

::-webkit-scrollbar-thumb:hover {
  border-width: 0;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #000 !important;
}

.skeleton {
  position: relative;
  overflow: hidden;
  background-color: #e0e0e0;
}

.skeleton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, transparent, #f0f0f0 50%, transparent);
  animation: skeleton 1.2s infinite;
}

@keyframes skeleton {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}
